@page "/profile"
@inject HttpClient client
@inject NavigationManager navigate

<PageTitle>Личный кабинет</PageTitle>

@if (user != null)
{
    <ProfileContent user="@user"/>

    <button class="btn btn-success" @onclick="@Logout">Выйти из аккаунта</button>
}
else
{

    <a href="/login">Авторизоваться</a>
    <br />
    <a href="/register">Зарегестрироваться</a>
}

@code {

    User? user { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            user = await client.GetFromJsonAsync<User>("/api/profile");
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
        }

    }

    private async Task Logout()
    {
        await client.PostAsync("/api/account/logout", null);
        navigate.NavigateTo("/");
    }

}
