@page "/"

<PageTitle>Главная страница</PageTitle>

<MudCarousel Class="mud-width-full" Style="height: 450px" ShowArrows="false" AutoCycle="true" ShowBullets="true" TData="object">
    <MudCarouselItem Transition="transition" Color="Color.Info">
        <div class="d-flex" style="height:100%;">
            <div class="carousel-caption">
                <h2>Забудьте о проблемах с парковкой! Бронируйте удобное место прямо сейчас</h2>
            </div>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition" Color="Color.Info">
        <div class="d-flex" style="height:100%">
            <div class="carousel-caption">
                <h2>Никогда больше не теряйте время на поиск парковки. Бронируйте места заранее и приезжайте с уверенностью!</h2>
            </div>
        </div>
    </MudCarouselItem>
</MudCarousel>

@code {
    private Transition transition = Transition.Slide;
}

