@page "/parking"
@inject HttpClient client

<PageTitle>Схема парковки</PageTitle>

<h1>Схема парковки</h1>

@if (models != null)
{
    @foreach (var space in models.parkingSpaces)
    {
        <div class="parking-space @((space.IsOccupied) ? "occupied" : "free")">
            <a @onclick="()=>ShowInfo(space)">@space.Number</a>
        </div>
    }
}
else
{
    <text>Загрузка...</text>
}


@if (isActive)
{
    if (!ps.IsOccupied)
    {
        <h2>Сейчас это место свободно</h2>
    }

    <BookingsInfo models="@models" ps="@ps" />

    <a class="btn btn-success" href="parking/reserve">Забронировать</a>

}



@code {

    ParkingViewModels models { get; set; }

    protected override async Task OnInitializedAsync()
    {
        models = await client.GetFromJsonAsync<ParkingViewModels>("/api/parking");
    }

    bool isActive = false;
    ParkingSpace ps;

    private void ShowInfo(ParkingSpace selectedSpace)
    {
        if (isActive && ps != selectedSpace)
        {
            ps = selectedSpace;
        }
        else
        {
            isActive = !isActive;
            ps = selectedSpace;
        }

    }
}