@inject HttpClient client

<h3>Бронирования места №@ps.Number</h3>

<div>
    <label>Дата:</label>
    <input type="date" @bind="selectDate" />
</div>

@if (bookings != null)
{
    <table>
        <thead>
            <tr>
                <th>Время начала бронирования</th>
                <th>Время конца бронирования</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in bookings)
            {
                <tr>
                    <th>@booking.StartTime.ToString("HH:mm")</th>
                    <th>@booking.EndTime.ToString("HH:mm")</th>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    [Parameter]
    public ParkingSpace ps { get; set; }

    [Parameter]
    public DateTime selectDate { get; set; }

    IEnumerable<Booking>? bookings { get; set; }

    protected override async Task OnInitializedAsync()
    {
        bookings = await client.GetFromJsonAsync<IEnumerable<Booking>>("/api/parking/bookings");
        bookings=bookings?.Where(s => s.ParkingSpaceId == ps.Id);
        SelectDate();
    }

    private void SelectDate()
    {
        bookings = bookings?.Where(t => t.StartTime.Date == selectDate.Date);
        bookings = bookings?.OrderBy(t => t.StartTime);
    }

}



